# Discord OAuth2
DISCORD_CLIENT_ID=ضع_CLIENT_ID_هنا
DISCORD_CLIENT_SECRET=ضع_CLIENT_SECRET_هنا
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback

# Discord Server
DISCORD_GUILD_ID=ضع_SERVER_ID_هنا
DISCORD_BOT_TOKEN=ضع_BOT_TOKEN_هنا

# رتب الصلاحيات فقط
# كل رتب Discord ستظهر في الموقع تلقائياً للعرض.
# لا تحتاج تضيف كل الرتب هنا، فقط الرتب التي تعطي صلاحيات فعلية.
OWNER_ROLE_ID=ضع_OWNER_ROLE_ID_هنا
DEVELOPER_ROLE_ID=ضع_DEVELOPER_ROLE_ID_رتبة_مبرمج_الموقع_اختياري
ADMIN_ROLE_ID=ضع_ADMIN_ROLE_ID_هنا
SUPERVISOR_ROLE_ID=ضع_SUPERVISOR_ROLE_ID_رتبة_الرقابة_هنا
SUPPORT_ROLE_ID=ضع_SUPPORT_ROLE_ID_هنا
PROMOTION_MANAGER_ROLE_ID=ضع_PROMOTION_MANAGER_ROLE_ID_اختياري

# Webhook Logs
DISCORD_WEBHOOK_URL=ضع_WEBHOOK_URL_هنا
# Discord Mentions داخل الويب هوك
# ضع Role ID فقط إذا تبي منشن تلقائي
DISCORD_SUPERVISOR_MENTION_ROLE_ID=ضع_ROLE_ID_رتبة_الرقابة_للمنشن_اختياري
DISCORD_ADMIN_MENTION_ROLE_ID=ضع_ROLE_ID_رتبة_الإدارة_للمنشن_اختياري
DISCORD_OWNER_MENTION_ROLE_ID=ضع_ROLE_ID_رتبة_الأونر_للمنشن_اختياري

# رابط الموقع العام لزر فتح الموقع داخل Discord
PUBLIC_SITE_URL=http://localhost:3000


# Server
SESSION_SECRET=اكتب_كلمة_سر_طويلة_عشوائية_هنا
PORT=3000
NODE_ENV=development


# رتبة الإجازة التلقائية
LEAVE_ROLE_ID=ضع_LEAVE_ROLE_ID_رتبة_الإجازة_هنا


# Discord leave role
# حط هنا ID رتبة الإجازة الإدارية في الديسكورد
DISCORD_LEAVE_ROLE_ID=
